@keyframes VisibilityAnimation {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.visibility-animation {
    animation: VisibilityAnimation 2s;
}