---
// const { pageName } = Astro.props;
---

<!-- {pageName && <h2>This navigation is showing in the {pageName} page.</h2>} -->
<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
</div>
